.photo {
    width: 100%;
    height: 270px;
    background-image: url('../../../public/Icons/move1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  